<p class='pull-right'>
  <%= link_to 'Edit this post', edit_post_path(@post) %>
</p>

<%= render @post.categories %>

<% header = link_to(@post.title, @post.url) %>

<%= render 'shared/content_title', title: header  %>

<%= render 'shared/content_title', title: @post.description %>





<%= render @post.comments %>

